
/* imort fonts from google and adobe */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@600;700&display=swap');
@import url("https://use.typekit.net/rqy4bhg.css");


/* font and formatting and color and margin */

body {
    margin: 0;
    background: #f1deaa;
}

.border-style-img {
    border: solid 10px #f09846a9;
    border-radius: 25px;
    background: #e2a872a9;
}

header, footer {
    background-color: #87a3dfc5;
    margin-bottom: 40px;
    display: block;
}
  
header h1 {
    color: #ffffff;
    text-align: left;
    margin: 0;
    padding: 70px 135px;
    font-family: 'rig-shaded-medium-extrude', 'Cormorant', Tahoma, sans-serif, 'Times New Roman', Arial;
    font-style: normal;
    font-size: 70px;
    font-weight: 700;
}

#home {
  padding-bottom: 50px;
}

main h2 {
    margin-right: 10px;
}

h2, h3 {
    font-family: 'Cormorant', Tahoma, sans-serif, 'Times New Roman', Arial;
    color: #4274e0;
    font-weight: 600;
    font-size: 30px;
}

p {
    font-family: 'Cormorant', Tahoma, sans-serif, 'Times New Roman', Arial;
    color: #4274e0;
    font-weight: 600;
    font-size: 18px;
}

ul {
    color: #4274e0;
    font-size: 20px;
    font-family: 'Cormorant', Tahoma, sans-serif, 'Times New Roman', Arial;
    margin-bottom: 50px;
    font-weight: 600;
}

#portfolio div.item {
  padding-right: 15px;
}

#portfolio h4 {
  font-family: 'Cormorant', Tahoma, sans-serif, 'Times New Roman', Arial;
  color: #4274e0;
  font-weight: 600;
  font-size: 30px;
}


/* 
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: outset;
    border-width: 2px;
    width: 50%;
}
*/


/* footer */
a:link    { color: purple;  }
a:visited { color: red;   }
a:hover   { color: green; }
a:active  { color: pink;  }

footer h3 {
    color: #000000;
    padding-bottom: 10px;
    padding-left: 10px;
}

footer a {
  padding-left: 10px;
  padding-right: 10px;
}

footer {
  padding-top: 20px;
  padding-bottom: 100px;
}


/* Groups & Items  (Mobile First) */
.wrapper {
    width: 100%;
}
  
  .group {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  
  .item {
    flex: 1;
    margin: 10px;
  }
  
  .item-double {
    flex: 2;
    margin: 10px;
  }

/* Groups & Items  (Desktop) */

  @media all and (min-width: 800px) {
    .wrapper {
      width: 80%;
      margin: auto;
    }
  
    .group {
      flex-direction: row;
    }
  }

/* article section id's */
  
main section {
    background-color: #dfdfdf;
    padding-top: 20px;
    padding-bottom: 80px;
}