
/* import fonts from google and adobe */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@600;700&display=swap');
@import url("https://use.typekit.net/rqy4bhg.css");

/* ---  Navigation --- */
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  header nav ul {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
  }

  header nav ul li {
    list-style-type: none;
  }

  header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px 0 0;
    font-family: 'Montserrat Alternates', sans-serif;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
  }

  @media all and (min-width: 700px) {
    header {
      display: flex;
      justify-content: space-between;
    }

    .logo {
      margin: 14px 0 14px 20px;
      padding-top: 0;
      font-size: 42px;
    }
    
    header nav {
      margin-top: 14px;
    }
  }


/* affects whole page, or more than one section */
body {
  background: #f1deaa;
}

header, footer {
  background-color: #0e5d81;    
}

h2, h3, p {
  font-family: 'Cormorant', Tahoma, sans-serif, 'Times New Roman', Arial;
  color: #4274e0;
  font-weight: 600;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

header, #home, #about, #portfolio, footer {
  padding-left: 100px;
  padding-right: 50px;
}

/* HEADER */
header {
  margin-bottom: 40px;
  padding-top: 30px;
}

header h1 {
  color: #ffffff;
  margin: 0;
  padding-bottom: 100px;
  font-family: 'rig-shaded-medium-extrude', 'Cormorant', Tahoma, sans-serif, 'Times New Roman', Arial;
  font-size: 65px;
  font-weight: 50;
}


/* HOME */
.border-style-img {
  border: solid 10px #f09846a9;
  border-radius: 25px;
  background: #e2a872a9;
}

#home img {
  max-width: 60%;
  margin-left: 70px;
}

/* ABOUT ME*/
#about {
  background-color: #dfdfdf;
  padding-top: 20px;
  padding-bottom: 80px;
}

#about img {
  max-width: 90%;
}


/* PORTFOLIO */
#portfolio img {
  max-width: 90%;
}

#portfolio p {
  max-width: 92%;
}

/* FOOTER */

footer h2 {
  color: #000000;
}

footer a {
  padding-left: 10px;
  padding-right: 10px;
}

footer {
  padding-top: 20px;
  padding-bottom: 50px;
}

#contact .item img {
  padding-left: 70px;
}

/* contact form */
form {
  padding-right: 50px;
}

form label {
  display: block;
}

form input, 
form textarea {
  width: 100%;
  margin-bottom: 15px;
}

form textarea {
  height: 160px;
}

/* Groups & Items  (Mobile First) */
  
.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  justify-content: center;
}
  
.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

/* Groups & Items  (Desktop) */

@media all and (min-width: 800px) {

  .group {
    flex-direction: row;
    justify-content: center;
  }

}